@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

* {
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.main-container {
    float: left;
    width: 100%;
}

